.form-div {
  margin-top: -2em;
  width: 62.5vw;
}

.company-name-search-input {
  width: calc(62.5vw - 4.5em);
  margin-right: 0.5em; 
  margin-bottom: 2em;
  padding: 0.45em;
  font-size: 1.2em;
}

.company-name-search-button {
  padding: 0.43em;
  font-size: 1.1em;
  margin-bottom: 0.2em;  
}

.no-results-msg {
  font-size: 1.2em;
  color: black;  
}
