
.job-div {
  background-color: rgba(251, 245, 245, 0.75);  
  width: 62.5vw;  
  box-shadow: 1px 0px 1px 1px #423c3c;
  margin-bottom: 1.75em;
  padding-bottom: 2.2em;
  border-radius: 0.75em;
}
    
.job-div:hover {
  box-shadow: 1px 5px 10px 5px rgb(70, 70, 70);
}
    
.job-title {
  padding-top: 1.35em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  margin-bottom: 0.6em;
  font-size: 1em;
  color: black;  
}
  
.job-salary {
  padding-left: 1.7em;
  padding-right: 1.3em;
  font-size: 0.85em;
  color: black;    
}
  
.job-equity {
  padding-left: 1.7em;
  padding-right: 1.3em;
  margin-top: -0.6em;
  font-size: 0.85em;
  color: black;    
}
    
.job-company-handle {
  padding-bottom: 0.75em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  color: black;
}
  
.job-apply-button {
  padding-right: 0.8em;
  padding-left: 0.8em;
  font-size: 1.1em;
  margin-bottom: 1.15em;
  margin-top: -1.4em;
  margin-right: 1.15em;
  float: right;
  background-color: rgba(73, 38, 201, 0.75);
  border-radius: 0.625em;
}

.job-apply-button:hover {
  border: 1px solid black;
  background-color: rgba(73, 38, 201, 0.75);
  color: black;
}