.login-form {
  padding: 2.5em;
  margin-top: 1.5em;
  background-color: white;
  padding-bottom: 3.5em;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.login-form input {
  background-color: rgba(38, 38, 38, 0.125);  
}

.login-form input:hover {
 background-color: rgba(38, 38, 38, 0.125);
 border: 2px solid rgba(0, 0, 0, 0.5);  
}

.login-message,
.login-form label {
  color: black;
}

.login-form-div {
  width: 50vw;
  min-width: 19em;  
  max-width: 30em;
  margin-top: -2.5em;
}

.login-button {
  float: right;
  margin-top: 0.3em;
}

.bad-login-div {
  background-color: rgba(226, 31, 31, 0.3);
  min-height: 2.5em;
  border-radius: 0.7em;
  margin-bottom: 0.5em;
}

.bad-login-message {
  color: rgb(128, 55, 55);
  text-align: center;
  padding: 0.5em;
}